.parallax{
    background-attachment: fixed; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("../../assets/snazzy-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: max-content;
    position: relative;
    
}