#team-section{
   
    padding:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    flex-wrap: wrap;
    background-color: #282858;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #333;
}
div#team-section h1{
    font-size: 3rem;
    color: #fff;
}

.team-member:hover{
    transform: scale(1.05);
}
.team-carousel{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding:0px;
    margin:0px;
    cursor:default;
}

.teamcarousel-item{
    margin: 10px;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    cursor: default;
}

.team-member{
    max-width: 8rem;
    max-height: 15rem;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid black;
    align-items: center;
    padding: 5rem;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px  0 rgb(20 102 139);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    text-align:center;
}
.team-member img{
    box-sizing: border-box;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    min-width: 15rem;
    min-height: 15rem; 
    transition: transform 0.3s ease-in-out;
}
.team-data{
    height:30%;
}
