#team-section{  
    padding:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    flex-wrap: wrap;
    background-color: #282858;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #333;
    transition: all 0.5s ease-in-out;
    
}
div#team-section h1{
    font-size: 3rem;
    color: #fff;
}

.team-member:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px  21px rgb(20 102 139);
}
.team-carousel{
    max-width: 100%;
    min-height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    cursor:default;
    transition: all 0.5s ease-in-out;
}

.teamcarousel-item{
    border-radius: 20px; 
    display: flex;
    flex-wrap: wrap; 
    word-break:break-word; 
    text-align:center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    cursor: default;
    padding: 1rem;
}

.team-member{ 
    width: 15em;
    height: 20em;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid black;
    align-items: center;
    padding: .5rem;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px  0 rgb(20 102 139);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    text-align:center;
}
.team-member img{
    box-sizing: border-box;
    object-fit: scale-down;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    width: 80%;
    height: 60%; 
    transition: transform 0.3s ease-in-out;
}
.team-data{
    height:30%;
}
@media (max-width: 645px ){
    .team-carousel{
        max-width: 14em;
    }

}
