.left-section {
  margin-top: 35px;
  width: 65%;
}

/* CROSS */
.cross {
  position: absolute;
  left: 30rem;
  top: 0;
}

.rectangle-left {
  position: absolute;
  width: 25px;
  height: 80px;
  left: 2rem;
  top: 8rem;
  background: #ffb800;
  border-radius: 40px;
  transform: rotate(39.19deg);
}

.reactangle-right {
  position: absolute;
  width: 25px;
  height: 80px;
  left: 2rem; /* Adjust the left value if needed */
  top: 8rem;
  background: #ffb800;
  border-radius: 40px;
  transform: rotate(128.79deg);
}
/* CROSS ENDS */

/* REACTANGLE_STRIP */
.rectangle-strip {
  position: relative;
}

.rectangle-strip-top {
  position: absolute;
  width: 70px;
  height: 140px;
  left: 319.9px;
  top: 3.3rem;
  background: #bbf99e;
}

.rectangle-strip-bottom {
  position: absolute;
  top: 12rem;
  left: 20rem;
  width: 69.6px;
  height: 35px;
  border-radius: 100px 100px 0 0;
  background: #bbf99e;
  overflow: hidden;
  rotate: -180deg;
}
/* REACTANGLE_STRIP  END*/

/* circle */
.circles {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 290px;
  top: 300px;
  background: #00ff47;
  border: 16px solid #b0fdc6;
  border-radius: 50%;
}
/* CIRCLE END*/

.half-circle-container {
  position: relative;
  top: 5rem;
  display: flex;
  left: 5rem;
  align-items: center;
  height: 50px;
}

.half-circle {
  width: 70px;
  height: 35px;
  border-radius: 100px 100px 0 0;
  overflow: hidden;
}

.red {
  background-color: #ff0000;
}

.green {
  background-color: #00b21c;
}

.blue {
  background-color: #0083fb;
}

.yellow {
  background-color: #ffd602;
}

/* four-circles */
.four-circles {
  position: relative;
  top: -26rem;
  left: -15rem;
}

.first-circle {
  position: absolute;
  width: 88px;
  height: 88px;
  left: 810px;
  top: 610px;
  border-radius: 50%;
  background: #febcbc;
}

.second-circle {
  position: absolute;
  width: 185px;
  height: 185px;
  left: 673px;
  top: 502px;
  border-radius: 50%;
  background: #a8d5ff;
}

.third-circle {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 800px;
  top: 500px;
  border-radius: 50%;
  background: #0065fd;
}

.fourth-circle {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 670px;
  top: 640px;
  border-radius: 50%;
  background: #ff0000;
}
/* FOUR CIRCLE END*/

/* BOTTOM CIRCLES */
.half-down {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 45rem;
  top: 40rem;
  border-radius: 50%;
  background: #00a3ff;
  border: 50px solid #92d7fe;
}

/* BOTTOM-CIRCLE ENDS */

/* TWO-BOTTOM-STRIP */
.right-strip {
  position: absolute;
  width: 80px;
  height: 20rem;
  left: 1rem;
  top: 35.9rem;
  border-radius: 80px 80px 0 0;
  background: #50e42b;
  border: 40px solid #cbffc9;
  border-bottom: 0;
}

.left-strip {
  position: absolute;
  width: 80px;
  height: 20rem;
  left: 9.5rem;
  top: 42.3rem;
  border-radius: 80px 80px 0 0;
  background: #fcb54c;
}
/* TWO-BOTTOM-STRIP ENDS*/

/* MIDDLE-CROSS */
.middle-cross {
  position: relative;
  left: 18rem;
  top: -8rem;
}
.left-line {
  position: absolute;
  width: 18px;
  height: 65px;
  left: 25rem;
  top: 27rem;
  background: #ffb800;
  border-radius: 40px;
}

.right-line {
  position: absolute;
  width: 18px;
  height: 65px;
  left: 25rem;
  top: 27rem;
  background: #ffb800;
  border-radius: 40px;
  transform: matrix(0.01, 1, -1, 0.01, 0, 0);
}
/* MIDDLE-CROSS ENDS*/

.first-design {
  position: absolute;
  width: 56px;
  height: 51px;
  left: 25rem;
  top: 29rem;
  border-radius: 0 90px 90px 0;
  background: #06aa3e;
}

.second-design {
  position: absolute;
  width: 56px;
  height: 51px;
  left: 21.5rem;
  top: 25.8rem;
  border-radius: 50% 50% 0px 50%;
  background: #ff0808;
}

.third-design {
  position: absolute;
  width: 56px;
  height: 51px;
  left: 21.5rem;
  top: 32.2rem;
  border-radius: 90px 0px 0px 90px;
  background: #278fef;
}

.fourth-design {
  position: absolute;
  width: 56px;
  height: 51px;
  left: 25rem;
  top: 35.4rem;
  border-radius: 0 50% 50% 50%;
  background: #fcb54c;
}

.black-half {
  position: absolute;
  width: 25.58px;
  height: 15.58px;
  left: 26rem;
  top: 33.2rem;
  background: #282858000;
  border-radius: 80px 80px 0% 0%;
  transform: rotate(90deg);
}

.cross-ver {
  position: absolute;
  width: 8px;
  height: 32px;
  left: 23.1rem;
  top: 29.5rem;
  background: #282858;
  border-radius: 24px;
}

.cross-hor {
  position: absolute;
  width: 8px;
  height: 32px;
  left: 23.1rem;
  top: 29.5rem;
  background: #282858;
  border-radius: 24px;
  transform: rotate(90deg);
}

.first-dot {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 4.1rem;
  top: 19.5rem;
  background: #282858;
  border-radius: 50%;
}

.second-dot {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 6.2rem;
  top: 19.5rem;
  background: #282858;
  border-radius: 50%;
}

.third-dot {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 8.3rem;
  top: 19.5rem;
  background: #282858;
  border-radius: 50%;
}

.second-line {
  position: relative;
  top: -6.5rem;
}

.third-line {
  position: relative;
  top: -4.5rem;
}

.four-line {
  position: relative;
  top: -2.5rem;
}

.fifth-line {
  position: relative;
  top: -0.5rem;
}

.sixth-line {
  position: relative;
  top: 1.5rem;
}

@media screen and (max-width: 1300px) {
  .bottom-circles {
    position: relative;
    top: -25rem;
    right: 25rem;
  }

  .cross {
    left: 1rem;
    top: -3.5rem;
  }

  .reactangle-strip {
    position: relative;
    top: -5rem;
    left: -2rem;
  }

  .rectangle-strip-top {
    width: 3rem;
    height: 6rem;
  }

  .rectangle-strip-bottom {
    width: 3rem;
    height: 4rem;
    top: 8rem;
  }

  .bottom-circles {
    top: 1rem;
    left: -27rem;
  }

  .four-circles {
    display: none;
    position: relative;
  }

  .main-design {
    display: none;
    position: relative;
    left: -10rem;
    top: 10rem;
  }

  .four-eclipe {
    position: relative;
    display: none;
  }

  .two-bottom-strip {
    position: relative;
  }

  .right-strip {
    position: absolute;
    width: 62px;
    margin-top: 8rem;
    border: 35px solid #cbffc9;
    height: 15rem;
  }

  .left-strip {
    width: 62px;
    left: 8rem;
    top: 48rem;
  }

  .circles {
    top: 35rem;
    left: 1rem;
    width: 20px;
    height: 20px;
    border: 14px solid #b0fdc6;
  }

  .rectangle-left {
    width: 15px;
    height: 60px;
  }

  .reactangle-right {
    width: 15px;
    height: 60px;
  }

  .middle-cross {
    width: 15px;
    left: -6rem;
    top: 6rem;
    display: flex;
  }

  .left-line {
    height: 60px;
    width: 16px;
    background: #ffb800;
  }

  .right-line {
    height: 60px;
    width: 16px;
    background: #ffb800;
  }

  .dotes {
    display: none;
  }
}
