#contact-us-section{
    width: 100%;
    height:max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 2rem;
    color: #fff;
    background-attachment: fixed;
    background-color: #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("./src/assets/snazzy-image.png");
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 0;
}
.contact-us-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 600px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20.8px);
    -webkit-backdrop-filter: blur(20.8px);
    border-radius: 1.5rem;
    padding: 1rem 2rem; 
}
.contact-us-header{
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  height: 100%;
  width: 90%;
  padding: 1rem;
  opacity: 0.8;
  border-radius: 10px;
}

label {
  margin-bottom: 8px;
}


label[for="user_name"],
label[for="user_email"] {
  display: inline-block;
  width: 50%;
}

label[for="subject"],
label[for="message"] {
  width: 10%;
}

input,
textarea {
  padding:  10px 0 0 0 0;
  height: 2rem;
  margin-bottom: 15px;
  margin-left: 0rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  text-align: left;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  background-color: transparent;
}
textarea {
  width: 100%;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 1rem;
  height: 1.3rem;
  background-color: transparent;
  resize: none;
}
input[type="submit"] {
  background-color: blue;
  color: white;
  cursor: pointer;
  padding:1rem 2rem 2rem 1rem;
  border-radius: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  margin-top: 2rem;

}

input[type="submit"]:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 768px) {
  .contact-us-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #fff;
    width:100%;
    padding: 0;
    margin: 0;
  }
  .contact-us-container {
    width: 30rem;
    height: 70%;
    padding: 1rem 2rem;
  }
  form {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  label[for="user_name"],
  label[for="user_email"] {
    width: 100%;
  }
  label[for="subject"],
  label[for="message"] {
    width: 100%;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
  }
  input[type="submit"] {
    width: 100%;
  }
}
