#footer-section{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin:0;
    padding: 0;
    padding-top: 40px;
    height: 200px;
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(10px);
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
    height: min-content;
    border:none;
    padding-bottom: 50px;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 0 50px;
    width: 50%;
}
.information div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 0 10px;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
}
.address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: normal;
    margin:0 0 0  120px;
    padding: 0 10px;
    width: 50%;
    text-align: left;
    word-wrap: break-word;
}
.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 10px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.0);
    width: 50%;
}
.social-media-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 0 10px;
    gap: 20px;
}

@media screen and (max-width: 768px){

    #footer-section{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
        width:100%;
    }
    .information div{
        font-size:10px;
        word-wrap:break-word;
        text-align:center;
        width:100%;   
    }
    .address{
        text-align:center;
        margin:0;
        font-size:10px;
    }
    .social-media{
        font-size:10px;
        text-align:center;
        padding-top:10px;
        margin:0;
        margin-left:20px;
    }
    .social-media-icons img{
        height:30px;
        width:30ppx;
    }
}
